body{
background:#e8e8e8;
}
.bg-primary{
    background-image:linear-gradient(#8bb2eb,#824ccf) !important ;
    color: #e8e8e8 !important;
}
.btn-primary{
    background:rgb(130, 76, 207,0) !important ;
    border-color: #e8e8e8 !important;
    color: #e8e8e8 !important;
   
}
.btn-primary:hover{
    background: #e8e8e8 !important;
    color: #824ccf !important;
}
.nav-link{
    color: #e8e8e8 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.nav-link:hover{
    color: #8bb2eb !important;
}
.navbar-brand{
    color:#e8e8e8 !important ;
}
.R{
    background-image: url(img/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.R::before{
    content: "";
    width: 100%;
    min-height: 50vh;
    position: absolute;
    background: linear-gradient(rgb(130, 76, 207,0.3),rgba(255, 255, 255,0));

}
.rx{
    background-image: linear-gradient(to left,black,rgb(255, 255, 255,0));
}
.bg-secondary{
    background-image:linear-gradient(#824ccf , #8bb2eb) !important ;
    color: #e8e8e8 !important;
}

.btn-floating:hover{
    background: #e8e8e8 !important;
    color: #824ccf !important; 
}
.bg{
    background-color: #824ccf;
    color: #e8e8e8;
}
/* styles jose*/
.card{
    border-radius: 10px;
    width: 18rem;
    overflow: hidden;
    margin: 1.5rem;
    border: none;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    box-shadow: 0px 0px 15px 10px #a0a0a0;
}

.card-image{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: all 500ms;
    height: 465px;
}

.card-title, .card-text, .price{
    margin-bottom: 1rem;
}

.card-body{
    color: white;
    padding: 1rem;
    padding-top: 11rem;
    position: absolute;
    height: 467px;
    background: linear-gradient(360deg, #842ccf, #8bb2eb ,transparent);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;
}


.card:hover > img{
    transform: scale(1.1);
}

.card:hover > .card-body {
    opacity: 1;
    visibility: visible;
}

.card-title{
    color: #ffffff;
    font-size: 30px;
}

.card-text{
    font-size: 15px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-end{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

