body {
    /*
    background: linear-gradient(rgba(142, 142, 142, 0.7), rgba(142, 142, 142, 0.7)), url(/My_class_projects/Project-Truloov/Assets/Images/16125250911786.jpg) no-repeat center left !important;background: linear-gradient(#e6e6e6, #842ccf) !important;
    background-image: url(/My_class_projects/Assets/Images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(/My_class_projects/Project-Truloov/Assets/Images/16125250911786.jpg) center left no-repeat;
    color: rgb(142, 142, 142) !important;
    background-image: url(/My_class_projects/Project-Truloov/Assets/Images/pexels-photo-3620913.jpeg) !important;*/
    text-align: center;
    background: url(/My_class_projects/Project-Truloov/Assets/Images/pexels-photo-3620913.jpeg) !important;
  }
  
  .image-form{
    margin-top: 1.5rem;
  }
  
  .boton:hover {
    background: #a3d811 !important;
  }
  