body {
    /*background-image: url(/My_class_projects/Assets/Images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background: linear-gradient(#e6e6e6, #842ccf) !important;
    color: #8e8e8e !important;
    text-align: center;
}


form {
    /*background: linear-gradient(#8BB2EB, #842ccf) !important;
    background-color: #E8E8E8;*/
    background-image: url(/My_class_projects/Assets/Images/16125250911786.jpg);
    max-width: 500px;
    
    margin: 50px auto;
    padding: 30px 20px;
    font-weight: bolder;
    
}


.form-control {
    text-align: left;
    margin-bottom: 25px;
}


.form-control label {
    margin-bottom: 10px;
}


.form-control input,
.form-control select,
.form-control textarea,
.form-type {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"],
.form-type {
    display: inline-block;
    width: auto;
}


.form-control input[type="radio"],
.form-control input[type="checkbox"],
.form-type  {
    display: inline-block;
    width: auto;
}


button {
    background-color: #8BB2EB;
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	font-size: 21px;
	display: block;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	}
